.vs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
.recipe-container {
  background: var(--pink);
  padding: 4% 3%;
}
.recipe-container h2 {
  padding: 20px 0;
}
.recipe {
  display: flex;
}
figure {
  width: 100%;
  max-height: 25%;
  overflow: hidden;
}
figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
figure {
  width: 100%;
  height: 40%;
}
figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.recipe-instructions {
  width: 72%;
  padding-right: 6%;
}
.recipe-instructions ul {
  padding-left: 4%;
}
.recipe-instructions li {
  margin-top: 2%;
}
.recipe-ingredients {
  font-size: 1.08em;
  font-weight: var(--fw900);
}
.recipe-ingredients ul {
  list-style: none;
  padding: 0;
}
.recipe button {
  background: var(--white);
  color: var(--pink);
  font-size: 1.04em;
  font-weight: var(--fw900);
  border: none;
  border-radius: 20px;
  padding: 25px 32px;
}
