.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.searchInput {
  color: var(--pink);
  background: var(--input-bg);
  width: 40%;
  height: 60px;
  padding-left: 20px;
  border: none;
}
.searchInput::placeholder {
  color: var(--pink);
  font-size: 0.7em;
}
.search button {
  background: var(--pink);
  font-weight: var(--fw900);
  width: 100%;
  height: 60px;
  margin: 20px;
  border: none;
}
#searchresult div {
  margin-bottom: 2%;
}
.result-item {
  font-size: 1.8em;
  font-weight: var(--fw900) !important;
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.result-item {
  background: var(--pink);
 }  
 .result-item h2 {
  margin-bottom: 10%;
}
.result-item img {
  width: 100%;
}
@media only screen and (max-width: 761px) {
  .search {
    flex-direction: column;
  }
  .searchInput,
  .search button {
    width: 100%;
  }
}
