.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.searchInput {
  color: var(--pink);
  background: var(--input-bg);
  width: 40%;
  height: 60px;
  padding-left: 20px;
  border: none;
}
.searchInput::placeholder {
  color: var(--pink);
  font-size: 0.7em;
}
.search button {
  background: var(--pink);
  font-weight: var(--fw900);
  width: 100%;
  height: 60px;
  margin: 20px;
  border: none;
}
/* #search-result {
  padding: 6%;  
} */
#search-result div {
  margin-bottom: 2%;
}
#search-result div:nth-of-type(2n+1) {
  background: var(--pink);
 }
 #search-result div:nth-of-type(2n+2) {
  background: var(--orange);
 }

@media only screen and (max-width: 761px) {
  .search {
    flex-direction: column;
  }
  .searchInput,
  .search button {
    width: 100%;
  }
}
