.categories-name {
  font-size: 2.4em;
  font-weight: var(--fw900) !important;
  color: var(--orange);
}

.vs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
