.categories-single-item {
  font-size: 1.8em;
  font-weight: var(--fw900) !important;
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
 
}
.categories-single-item img {
  width: 100%;
}
.reduced {
  width: 80%;
}
@media only screen and (max-width: 525px) {
  .categories-single-item {
    min-height: 85vh;
  }
}
