.categories-single-item {
  font-size: 1.8em;
  font-weight: var(--fw900) !important;
  padding: 10% 6%;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  min-height: 60vh;
}
.pic-col {
  border-radius: 50px;
  box-sizing: border-box;
  border: 20px solid #fff;
}
.pic-col img {
  width: 100%;
}
.pic-col:nth-of-type(4n+2) {
  background: var(--orange);
}
.pic-col:nth-of-type(4n+3) {
  background: var(--orange);
}
.pic-col:nth-of-type(4n+1) {
  background: var(--pink);
}
.pic-col:nth-of-type(4n+4) {
  background: var(--pink);
}
.reduced {
  width: 80%;
}

@media only screen and (max-width: 525px) {
  .categories-single-item {
    min-height: 40vh;
  }
}
