.categories-name {
  color: var(--orange);
  font-size: 2.4em;
  font-weight: var(--fw900) !important;
  margin-bottom: 3%;
}

.vs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
.categories-layout {
  padding: 6%;
}